<div class="container my-4">
        <div class="card categories p-4">
           
            <div class="row justify-content-md-around">
                <a href="{{path('recettes_category',{'category':'café'})}}" class="drink btn btn-warning col-md-2 mt-2">
                    <span class="drinkIcon mdi mdi-coffee"></span><br>Les cafés
                </a>
                <a href="{{path('recettes_category',{'category':'thé'})}}" class="drink btn btn-warning col-md-2 mt-2">
                    <span class="drinkIcon mdi mdi-tea"></span><br>Les thés
                </a>
                <a href="{{path('recettes_category',{'category':'limonade'})}}" class="drink btn btn-warning col-md-2 mt-2">
                     <i class="drinkIcon fa-solid fa-whiskey-glass"></i><br>Les limonades
                </a>
                <a href="{{path('recettes_category',{'category':'mocktail'})}}" class="drink btn btn-warning col-md-2 mt-2">
                   <i class="drinkIcon fa-solid fa-martini-glass-citrus"></i><br>Les mocktails
                </a>
                <a href="{{path('recettes_category',{'category':'cocktail'})}}" class="drink btn btn-warning col-md-2 mt-2">
                    <i class="drinkIcon fa-solid fa-martini-glass"></i><br>Les cocktails
                </a>
                <a href="{{path('recettes_category',{'category':'mix-fruité'})}}" class="drink btn btn-warning col-md-2 mt-2">
                    <i class="drinkIcon fa-solid fa-blender"></i><br>Les mix-fruités
                </a>
                

                
            </div>
        </div>
       
    </div>