{% extends 'base.html.twig' %}

{% block title %}Les recettes{% endblock %}

{% block body %}

<div class="slide container-fluid" id="recipes">
   
    
    <div class="container my-3">
   
        <a href="{{path('home')}}"><button class="btn btn-warning m-3">
            <i class="fa-solid fa-arrow-left"></i> Retour à l'accueil</button>
        </a>
        
    <h1 class="orange">Carnet de recettes</h1>
        
        {{form_start(search)}}
     
        {{form_end(search)}}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
         {% include "partials/_filter.html.twig" %}
    </div>

    <div class="container">
        <h2 class="orange">Toutes les recettes </h2>
        <div class="row d-flex justify-content-md-around">
            {% for recipe in pagination.data %}
                 {% include "recipes/_recipeCardNote.html.twig" %}
            {% endfor %}
            
            
        </div>
         {{pagination.display()}}
       
        
    </div>
    

</div>

{% endblock %}
